.row {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  width: 370px;
  height: 50px;
  border-bottom: 1px solid;
  border-radius: 5px;
}

.name {
  width: 45px;
  display: flex;
  text-wrap: wrap;
  align-items: center;
  font-size: 14px;
}

.forecast_wrapper {
  display: flex;
  flex-direction: row;
  height: 25px;
  gap: 2px;
}

.forecasts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Mitr";
  font-size: 14px;
  width: 23px;
  border-left: 1px solid;

  border-radius: 5px;
}

.total {
  font-family: "Mitr";
  font-size: 16px;
  display: flex;
  align-items: center;
  border-left: 1px solid;
  border-radius: 5px;
  font-weight: 500;
  font-style: italic;
  
}

.forecasts_double {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Mitr";
  font-size: 14px;
  width: 23px;
  border-left: 1px solid;

  border-radius: 5px;
  background-color: rgb(248, 212, 6);
}
